@media (max-width: 1200px) {
    header {
        padding: 53px 70px;
    }
    footer {
        padding: 53px 70px;
    }
    .heroSection img {
        width: 400px;
    }
    .learnMoreSection img {
        width: 400px;
    }
}
@media (max-width: 950px) {
    header {
        padding: 53px 45px;
    }
    footer {
        padding: 53px 45px;
    }
    .heroSection img {
        width: 300px;
    }
    .learnMoreSection img {
        width: 300px;
    }
}
@media (max-width: 840px) {
    header {
        padding: 53px 40px;
        margin: 0;
    }
    nav {
        display: none;
    }
    footer {
        padding: 53px 40px;
    }
    .boorger {
        display: block;
    }
    .heroSection img {
        width: 500px;
        margin: 0 auto;
    }
    .learnMoreSection img {
        width: 500px;
        margin: 0 auto;
    }
    .heroSection {
        flex-direction: column;
    }
    .learnMoreSection {
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .heroSectionContent {
        margin: 0 auto 80px;
    }
    .learnMoreSectionContent {
        margin: 40px auto 80px;
        padding: 0;
    }
    .destenationSectionBottom {
        grid-template-columns: 2fr 2fr;
        row-gap: 25px;
    }
    .destenationSection {
        margin: 50px auto;
    }
}
@media (max-width: 510px) {
    .selectsContainer select {
        width: 150px;
    }
    .destenationSectionTop {
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }
    .heroSection img {
        width: 350px;
    }
    .learnMoreSection img {
        width: 350px;
    }
    .footerTop {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .learnMoreSectionContent p {
        width: 300px;
    }
    .learnMoreSectionContent h2 {
        width: 300px;
    }
    .destenationSectionBottom {
        grid-template-columns: 4fr;
    }
    header {
        padding: 40px 20px;
        margin: 0;
    }
    footer {
        padding: 40px 20px;
    }
    .heroSectionContent {
        margin: 0 auto 50px;
    }
    .learnMoreSectionContent {
        margin: 20px auto 50px;
        order: 0;
    }
    .destenationSection {
        margin: 20px auto;
    }
}
@media (max-width: 380px) {
    .selectionsTop {
        flex-direction: column;
    }
    .selectionsBottom {
        flex-direction: column;
    }
    .selectsContainer select {
        width: 100%;
    }
    .heroSectionContent h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
        margin-bottom: 74px;
        font-family: playfairDisplay;
    }
    .linkList {
        flex-wrap: wrap;
    }
    .heroSection img {
        width: 250px;
    }
    .learnMoreSection img {
        width: 250px;
    }
}