.linsTop:hover {
    color: black;
}
.loginBtn:hover {
    background-color: rgba(251, 143, 29, 1);
    color: white;
}
.registerBtn:hover {
    color: rgba(251, 143, 29, 1);
    background-color: white;
}
.heroSectionButton:hover {
    color: rgba(251, 143, 29, 1);
    background-color: white;
}
.learnMoreSectionButton:hover {
    color: rgba(251, 143, 29, 1);
    background-color: white;
}
.section3Top a:hover .vector {
    margin-left: 30px;
    transform: rotate(360deg)
}
.footeLink:hover {
    width: 30px;
    height: 30px
}