@font-face {
    font-family: 'inter';
    src: url(./fonts/Inter/static/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: 'playfairDisplay';
    src: url(./fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'muli';
    src: url(./fonts/muli/Muli-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    padding: 53px 120px;
    justify-content: space-between;
    margin-bottom: 72px;
}
.linkList {
    list-style: none;
    display: flex;
    gap: 35px;
}
.linsTop {
    text-decoration: none;
    color: rgba(184, 190, 205, 1);
    font-weight: 400;
    line-height: 19.36px;
    font-size: 16px;
    font-family: inter;
}
.linsTop:hover {
    color: black;
}
nav {
    display: flex;
    gap: 34px;
    align-items: center;
}
.navButtonsContainer {
    display: flex;
    gap: 18px;
}
.loginBtn {
    padding: 15px 46px;
    border: 1px solid rgba(251, 143, 29, 1);
    color: rgba(251, 143, 29, 1);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    text-decoration: none;
}
.registerBtn {
    padding: 15px 36px;
    color: white;
    border: 0;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    text-decoration: none;
}
.section1 {
    display: flex;
    justify-content: space-evenly;
}
.section1Content h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    margin-bottom: 74px;
    font-family: playfairDisplay;
}
.section1Content h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.63px;
    text-align: left;
    margin-bottom: 48px;
    font-family: inter;
}
.selectionsTop {
    margin-bottom: 35px;
    display: flex;
    gap: 30px;
}
.selectionsBottom {
    margin-bottom: 47px;
    display: flex;
    gap: 30px;
}
.selectsContainer select {
    width: 220px;
    height: 52px;
    border-radius: 6px;
    padding: 0 0 0 21px;
    font-family: inter;
    appearance: none;
    background: url('./images/slectVector.svg') no-repeat right 26px center;
}
.section1Button {
    padding: 20px 60px;
    color: white;
    border: 0;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;   
    border-radius: 10px;
    font-family: muli;
}
.section2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: #F8F8F8;
    padding: 20px 0;
}
.section2Content {
    padding-top: 80px;
}
.section2Content h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    color: rgba(0, 0, 0, 1);
    font-family: playfairDisplay;
    margin-bottom: 30px;
}
.section2Content p {
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
    width: 450px;
    color: rgba(125, 121, 135, 1);
    font-family: muli;
    margin-bottom: 30px;
}
.section2Button {
    padding: 21px 37px;
    color: white;
    border: 0;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;   
    border-radius: 10px;
    display: inline;
    font-family: inter;
    text-decoration: none;
}
.section3 {
    margin: 100px auto;
    width: 85%;
}
.section3Top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}
.section3Top h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-family: playfairDisplay;
}
.section3Top a {
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
    color:rgba(251, 143, 29, 1);
    text-decoration: none;
    font-family: inter;
}
.section3Bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}
.container {
    position: relative;
}
.container img {
    width: 100%;
    border-radius: 10px;
}
.containerText {
    position: absolute;
    background-color: white;
    bottom: 0;
    padding: 20px 20px 0 0;
    border-top-right-radius: 10px;
}
.containerText h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    font-family: inter;
}
.containerText p {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    font-family: inter;
}
footer {
    padding: 53px 120px;
    background-color: #F8F8F8;
}
.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}
.footerTop p {
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: rgba(132, 132, 132, 1);
    font-family: muli;
}
.footerBottom {
    display: flex;
    justify-content: center;
}
.footerBottom ul {
    list-style: none;
    display: flex;
    gap: 35px;
}
@media (max-width: 1200px) {
    header {
        padding: 53px 70px;
    }
    footer {
        padding: 53px 70px;
    }
    .section1 img {
        width: 400px;
    }
    .section2 img {
        width: 400px;
    }
}
@media (max-width: 950px) {
    header {
        padding: 53px 45px;
    }
    footer {
        padding: 53px 45px;
    }
    .section1 img {
        width: 300px;
    }
    .section2 img {
        width: 300px;
    }
}
@media (max-width: 840px) {
    header {
        padding: 53px 40px;
        margin: 0;
    }
    nav {
        flex-direction: column;
        align-items: end;
    }
    footer {
        padding: 53px 40px;
    }
    .section1 img {
        width: 500px;
        margin: 0 auto;
    }
    .section2 img {
        width: 500px;
        margin: 0 auto;
    }
    .section1 {
        flex-direction: column;
    }
    .section2 {
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .section1Content {
        margin: 0 auto 80px;
    }
    .section2Content {
        margin: 40px auto 80px;
        padding: 0;
    }
    .section3Bottom {
        grid-template-columns: 2fr 2fr;
        row-gap: 25px;
    }
    .section3 {
        margin: 50px auto;
    }
}
@media (max-width: 510px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
    nav {
        align-items: start;
        gap: 20px;
    }
    .selectsContainer select {
        width: 150px;
    }
    .section3Top {
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }
    .section1 img {
        width: 350px;
    }
    .section2 img {
        width: 350px;
    }
    .footerTop {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    .section2Content p {
        width: 300px;
    }
    .section2Content h2 {
        width: 300px;
    }
    .section3Bottom {
        grid-template-columns: 4fr;
    }
    header {
        padding: 40px 20px;
        margin: 0;
    }
    footer {
        padding: 40px 20px;
    }
    .section1Content {
        margin: 0 auto 50px;
    }
    .section2Content {
        margin: 20px auto 50px;
        order: 0;
    }
    .section3 {
        margin: 20px auto;
    }
}
@media (max-width: 380px) {
    .selectionsTop {
        flex-direction: column;
    }
    .selectionsBottom {
        flex-direction: column;
    }
    .selectsContainer select {
        width: 100%;
    }
    .section1Content h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
        margin-bottom: 74px;
        font-family: playfairDisplay;
    }
    .linkList {
        flex-wrap: wrap;
    }
    .section1 img {
        width: 250px;
    }
    .section2 img {
        width: 250px;
    }
}