.edit {
    width: fit-content;
    padding: 15px 30px;
    color: white;
    border: 0;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    text-decoration: none;
    border: 1px solid rgba(251, 143, 29, 1);
    transition: 0.5s ease-in-out;
}
.edit:active {
    transform: scale(0.8);
}