footer {
    padding: 53px 120px;
    background-color: #F8F8F8;
}
.footerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}
.footerTop p {
    font-size: 17px;
    font-weight: 300;
    line-height: 28px;
    color: rgba(132, 132, 132, 1);
    font-family: muli;
}
.footerBottom {
    display: flex;
    justify-content: center;
}
.footerBottom ul {
    list-style: none;
    display: flex;
    gap: 35px;
}
.footeLink {
    transition: 0.3s ease-in-out;
}
.footeLink:hover {
    transform: scale(1.4);
}
@media only screen and (max-width: 2560px) and (min-width: 1600px) {
    .footerTop p {
        font-size: 25px;
        font-weight: 400;
        line-height: 35px;
    }
}
@media (max-width: 1200px) {
    footer {
        padding: 53px 70px;
    }
}
@media (max-width: 950px) {
    footer {
        padding: 53px 45px;
    }
}
@media (max-width: 840px) {
    footer {
        padding: 53px 40px;
    }
}
@media (max-width: 510px) {
    .footerTop {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
    footer {
        padding: 40px 20px;
    }
}