.heroSection {
    display: flex;
    justify-content: space-evenly;
}
.heroContent h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    text-align: left;
    margin-bottom: 74px;
    font-family: playfairDisplay;
}
.heroContent h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 26.63px;
    text-align: left;
    margin-bottom: 48px;
    font-family: inter;
}
.selectionsTop {
    margin-bottom: 35px;
    display: flex;
    gap: 30px;
}
.selectionsBottom {
    margin-bottom: 47px;
    display: flex;
    gap: 30px;
}
.selectsContainer select {
    width: 220px;
    height: 52px;
    border-radius: 6px;
    padding: 0 0 0 21px;
    font-family: inter;
    appearance: none;
    background: url('../../../assets/icons/slectVector.svg') no-repeat right 26px center;
}
.heroButton {
    padding: 20px 60px;
    color: white;
    border: 0;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 4px;
    font-size: 17px;
    font-weight: 700;   
    border-radius: 10px;
    font-family: muli;
    border: 1px solid rgba(251, 143, 29, 1);
    transition: 0.5s ease-in-out;
}
.heroButton:active {
    transform: scale(0.8);
}
@media only screen and (max-width: 2560px) and (min-width: 1600px) {
    .heroContent h1 {
        font-size: 80px;
        font-weight: 800;
        line-height: 90px;
    }
    .heroContent h3 {
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
    }
    .heroButton {
        font-size: 25px;
        font-weight: 800;
    }
}
@media only screen and (max-width: 1440px) and (min-width: 1200px) {
    .heroContent h1 {
        font-size: 48px;
    }
    .heroContent h3 {
        font-size: 20px;
    }
    .heroButton {
        padding: 15px 30px;
        font-size: 18px;
    }
    .heroImg {
        width: 500px;
    }
}
@media (max-width: 1200px) {
    .heroSection img {
        width: 400px;
    }
}
@media (max-width: 950px) {
    .selectsContainer select {
        width: 150px;
    }
}
@media (max-width: 840px) {
    .heroSection img {
        width: 500px;
        margin: 0 auto;
    }
    .heroSection {
        flex-direction: column;
    }
    .heroContent {
        margin: 0 auto 80px;
    }
}
@media (max-width: 510px) {
    .selectsContainer select {
        width: 150px;
    }
    .heroSection img {
        width: 350px;
    }
    .heroContent {
        margin: 0 auto 50px;
    }
}
@media (max-width: 380px) {
    .selectionsTop {
        flex-direction: column;
    }
    .selectionsBottom {
        flex-direction: column;
    }
    .selectsContainer select {
        width: 100%;
    }
    .heroContent h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 80px;
        text-align: left;
        margin-bottom: 74px;
        font-family: playfairDisplay;
    }
    .heroSection img {
        width: 250px;
    }
}