.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    border-right: 2px solid gray;
    padding-right: 30px;
}
.headline {
    font-size: 40px;
}
.sortContainer {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    align-items: center;
}
h3 {
    font-size: 30px;
}
h2 {
    font-size: 35px;
}
.addNewDestination {
    padding: 15px 20px;
    color: white;
    border: 0;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    text-decoration: none;
    border: 1px solid rgba(251, 143, 29, 1);
    transition: 0.5s ease-in-out;
}
.addNewDestination:active {
    transform: scale(0.8);
}
