.destenationSection {
    margin: 100px auto;
    width: 85%;
}
.destenationTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
}
.destenationTop h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    font-family: playfairDisplay;
}
.destenationTop a {
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
    color:rgba(251, 143, 29, 1);
    text-decoration: none;
    font-family: inter;
}
.destenationTop a:hover .vector {
    margin-left: 30px;
    transform: rotate(360deg)
}
.vector {
    transition: 1s ease-in-out;
    margin-left: 5px;
}
.destenationBottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 25px;
}
.container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.container:hover .card {
    transform: scale(1.2);
}
.container:hover .containerText {
    opacity: 0;
}
.card {
    width: 100%;
    transition: 0.5s ease-in-out;
}
.containerText {
    position: absolute;
    background-color: white;
    bottom: 0;
    padding: 20px 20px 0 0;
    border-top-right-radius: 10px;
    transition: 0.5s ease-in-out;
    opacity: 100;
}
.containerText h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 25px;
    font-family: inter;
}
.containerText p {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    font-family: inter;
}
@media only screen and (max-width: 2560px) and (min-width: 1600px) {
    .destenationTop h2 {
        font-size: 45px;
        font-weight: 800;
        line-height: 60px;
    }
    .destenationTop a {
        font-size: 25px;
        font-weight: 800;
        line-height: 66px;
    }
    .containerText h3 {
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
    }
    .containerText p {
        font-size: 24px;
        font-weight: 600;
    }
}
@media (max-width: 840px) {
    .destenationBottom {
        grid-template-columns: 2fr 2fr;
        row-gap: 25px;
    }
    .destenationSection {
        margin: 50px auto;
    }
}
@media (max-width: 570px) {
    .destenationTop {
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
    }
}
@media (max-width: 510px) {
    .destenationBottom {
        grid-template-columns: 4fr;
    }
    .destenationSection {
        margin: 20px auto;
    }
}
.showMoreBtn {
    padding-top: 50px;
    display: flex;
    justify-content: center;
}