#searchInput {
    width: fit-content;
    padding: 15px 25px;
    border: 1px solid rgba(251, 143, 29, 1);
    color: gray;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: inter;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
#search {
    width: fit-content;
    padding: 15px 36px;
    color: white;
    border: 0;
    background-color: rgba(251, 143, 29, 1);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    text-decoration: none;
    border: 1px solid rgba(251, 143, 29, 1);
    transition: 0.5s ease-in-out;
}
#clear {
    width: fit-content;
    padding: 15px 25px;
    border: 1px solid rgba(251, 143, 29, 1);
    color: rgba(251, 143, 29, 1);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: inter;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
#search:active {
    transform: scale(0.8);
}
#clear:active {
    transform: scale(0.8);
}