@font-face {
    font-family: 'inter';
    src: url(../../assets/fonts/Inter/static/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: 'playfairDisplay';
    src: url(../../assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf);
}
@font-face {
    font-family: 'muli';
    src: url(../../assets/fonts/muli/Muli-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
}