.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25%;
    border-right: 2px solid gray;
    padding-right: 30px;
}
.headline {
    font-size: 40px;
}
.sortContainer {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    align-items: center;
}
h3 {
    font-size: 30px;
}
h2 {
    font-size: 35px;
}